---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import BlogPost from "../components/BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("./blogs/*.mdx", { eager: true }),
);

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1>What I'm Up To</h1>

    <div class="posts">
      {
        allPosts.map((post: any) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            image={post.frontmatter.image}
            description={post.frontmatter.description}
            pubDate={post.frontmatter.pubDate}
          />
        ))
      }
    </div>

    <style>
      .posts {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1.5rem;
      }
    </style>
  </section>
</BaseLayout>
