---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import Image from "astro/components/Image.astro";
---

<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description}>
  <section>
    <h1>{frontmatter.title}</h1>
    <p><em>{frontmatter.description}</em></p>
    <Image
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
      layout="constrained"
      width={500}
      height={300}
    />
  </section>

  <section>
    <slot />
  </section>
</BaseLayout>
